<h1>Meios de Pagamento</h1>

<% if admin_signed_in? %>
  <%= link_to 'Cadastrar novo meio de pagamento', new_payment_method_path %>
<% end %>

<% if @payment_methods.any? %>
  <% @payment_methods.each do |payment| %>
      <p><%= link_to payment.name, payment_method_path(payment) %></p> 
  <% end %>
<% else %>
  <h2>Não há meios de pagamento cadastrados</h2>
<% end %>

<% if current_client %>
  <%= link_to 'Configure seus Meios de Pagamento', new_payment_setting_path %>
<% end %>

<%= link_to 'Voltar', :back %>
