<div class="container">
  <h2 class="text-center">
    <%= "Configurações de #{@payment_setting.payment_method.name}" %>
  </h2>

  <p><%= "Número de parcelas: #{@payment_setting.installments}x" %></p>
  <p><%= "Juros: #{@payment_setting.interest_rate}%" %></p>
  <p><%= "Desconto: #{@payment_setting.discount}%" %></p>

</div>
